.first-half,
body.homepage {
    background-image: url(../img/pattern-top.jpg)
}

.first-half,
.first-half:after,
body.homepage {
    background-position: center bottom;
    background-repeat: no-repeat
}

.first-half,
.first-half:after,
.second-half,
body.homepage {
    background-repeat: no-repeat
}

.first-half:after,
body.red-background .footer:before {
    width: 100%;
    height: 20px;
    left: 0;
    background-size: cover;
    right: 0
}

.first-half,
.first-half:after,
.second-half,
.welcome,
body.homepage {
    background-size: cover
}

.welcome__text .swiper-slide h2,
.welcome__text .swiper-slide p {
    font-family: Futura_ICG;
    font-weight: 400;
    color: #fff
}

.clearfix:after,
.header:after {
    clear: both;
    content: ''
}

.article.with-line .text:after,
.clearfix:after,
.description .gallery .swiper-slide-active:before,
.first-half:after,
.header:after,
.restaurant__gallery:before,
.welcome:after,
.welcome__text .swiper-slide h2:after,
body.inner_page .header__buttons a:before,
body.inner_page .header__contacts .social:before,
body.inner_page .header__contacts a.tel:before,
body.red-background .footer:before {
    content: ''
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v11/CdKWaRAal2Bxq9mORLKRRYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v11/eWRmKHdPNWGn_iFyeEYja22J9yQRHHBhlmQmXC5U5ok.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v11/IVeH6A3MiFyaSEiudUMXE-LrC4Du4e_yfTJ8Ol60xk0.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCwetIZ6OFpBzzPr7LueGMiD8k.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v11/q2OIMsAtXEkOulLQVdSl07h9hBNNhK4RjzVManoH7kY.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v11/H8_7oktkjVeeX06kbAvc0I3SmTH8Evs8V90CYwW3JLk.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v11/aEu-9ATAroJ1iN4zmQ55Bl6YDbH3175F1es-Zl7mOpU.ttf) format('truetype')
}

@font-face {
    font-family: Pacifico;
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v10/fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden
}

a:focus {
    outline: 0!important
}

article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
video {
    border: 0;
    margin: 0;
    padding: 0
}

a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
nav,
section,
video {
    display: block
}

table {
    border-collapse: separate;
    border-spacing: 0
}

table caption,
table td,
table th {
    text-align: left;
    vertical-align: middle
}

a img {
    border: 0
}

:focus {
    outline: 0
}

.clearfix:after {
    display: table
}

::-webkit-input-placeholder {
    opacity: 1!important
}

:-moz-placeholder {
    opacity: 1!important
}

::-moz-placeholder {
    opacity: 1!important
}

:-ms-input-placeholder {
    opacity: 1!important
}

.first-half {
    position: relative;
    padding-bottom: 20px
}

.first-half:after {
    background-image: url(../img/pattern-line.png);
    position: absolute;
    bottom: 0
}

.second-half {
    background-image: url(../img/pattern-bottom.jpg);
    background-position: center top
}

body.red-background .first-half {
    background-image: url(../img/pattern-top-red.jpg)
}

body.red-background .second-half {
    background-image: url(../img/pattern-bottom-red.jpg)
}

/*body.red-background .footer {
    margin-top: 40px;
    position: relative
}*/

#status,
body.red-background .footer:before {
    position: absolute;
    background-repeat: no-repeat
}

body.red-background .footer:before {
    background-image: url(../img/pattern-line.png);
    background-position: center bottom;
    top: 0
}

body.red-background .cta,
body.red-background .promo .swiper-scrollbar {
    background-color: #5b1010
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99
}

#status {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.svg);
    background-position: center;
    margin: -100px 0 0 -100px
}

@font-face {
    font-family: Futura_ICG;
    src: url(../fonts/Futura_ICG.ttf)
}

@font-face {
    font-family: FuturaLight;
    src: url(../fonts/Futura-Std-Light.ttf)
}

@font-face {
    font-family: FuturaT_Bold;
    src: url(../fonts/FuturaT_Bold.ttf)
}

@font-face {
    font-family: Futura-T-OT-Book;
    src: url(../fonts/Futura-T-OT-Book.ttf)
}

.welcome {
    height: 910px;
    background-image: url(../img/background-welcome.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative
}

.welcome:after {
    background-color: rgba(38, 65, 111, .8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.welcome .container {
    position: relative;
    z-index: 2
}

.welcome__text .swiper-container {
    padding-bottom: 80px
}

.welcome__text .swiper-slide {
    text-align: center
}

.welcome__text .swiper-slide h2 {
    font-size: 52px;
    text-align: center
}

.welcome__text .swiper-slide h2:after {
    width: 150px;
    height: 3px;
    background-color: rgba(255, 255, 255, .5);
    margin: 40px auto 30px;
    display: block
}

.welcome__text .swiper-slide p {
    font-size: 18px
}

.welcome__text .swiper-slide span {
    margin: 25px 0 10px;
    display: block;
    font-family: Pacifico, sans-serif;
    font-size: 42px;
    color: #fff
}

.welcome__text .swiper-slide a.btn {
    display: inline-block;
    font-family: FuturaT_Bold;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    width: 170px;
    padding: 8px 0;
    text-align: center;
    border: 3px solid #fff;
    margin: 0 50px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.footer p,
.header__nav ul li a {
    font-family: Montserrat, sans-serif;
    font-weight: 400
}

.footer__nav ul li a,
.header__nav ul li a {
    -webkit-transition: all .2s ease-out;
    text-transform: uppercase
}

.welcome__text .swiper-slide a.btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #26416f
}

.welcome__text .swiper-pagination {
    bottom: 0;
    z-index: 3
}

.welcome__text .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    -webkit-border-radius: 100%;
    opacity: 1;
    border-radius: 100%
}

.welcome__text .swiper-pagination-bullet-active {
    background-color: #fff
}

.welcome .swiper-button-next,
.welcome .swiper-button-prev {
    background-image: url(../img/slider-arrow.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 52px;
    background-size: auto;
    opacity: 1;
    margin-top: -15px
}

.welcome .swiper-button-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: -50px
}

.welcome .swiper-button-prev {
    left: -50px
}

.header {
    margin: 20px 0 60px
}

.header__logo {
    float: left
}

.header__nav {
    float: right
}

.header__nav ul {
    list-style: none;
    margin-top: 50px
}

.header__nav ul li {
    float: left;
    margin-left: 60px;
    position: relative
}

.header__nav ul li a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    transition: all .2s ease-out;
    border-bottom: 2px solid transparent
}

.header__nav ul li a:hover {
    text-decoration: none;
    border-color: #fff
}

.header__nav ul li.active a {
    border-color: #fff
}

.header__nav ul li ul {
    position: absolute;
    display: none;
    top: -15px;
    left: -20px;
    background-color: rgba(38, 65, 111, .8);
    min-width: 200px
}

.header__nav ul li ul li {
    margin-left: 0;
    display: block;
    float: none
}

.header__nav ul li ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    display: block
}

.header__nav ul li ul li:last-child {
    border-bottom: 0
}

.header__nav ul li ul li:last-child a {
    border-bottom: 0
}

.header__nav ul li.has-subnav {
    padding-bottom: 10px
}

.header__nav ul li.has-subnav>a {
    padding-right: 25px;
    background-image: url(../img/nav-arrow.png);
    background-repeat: no-repeat;
    background-position: right 40%
}

.header__nav ul li.has-subnav:hover ul {
    display: block
}

.header__nav ul li.has-subnav:hover>a {
    border-bottom: 2px solid #fff
}

.header:after {
    display: table
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff
}

.footer .container {
    position: relative
}

.footer .container .top {
    position: absolute;
    right: 0;
    top: -60px
}

.footer p {
    font-size: 12px;
    color: #757575
}

.footer__text {
    text-align: left;
    padding-left: 0
}

.footer__text p {
    font-family: FuturaLight!important;
    font-size: 14px!important;
    color: #fff!important;
    font-weight: 400!important;
    line-height: 22px
}

.footer__text p strong {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff
}

.footer__text a {
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 22px
}

.footer__text a.tel img {
    margin-right: 15px
}

.footer__logo img,
.footer__text .social a,
.footer__text a.email img {
    margin-right: 10px
}

.footer__text .social {
    margin-top: 5px
}

.footer__subscribe form input[type=email] {
    border: 0;
    padding: 5px;
    color: #000;
    display: inline-block;
    width: 150px
}

.footer__subscribe form input[type=submit] {
    font-family: FuturaT_Bold;
    font-size: 16px;
    color: #000;
    margin-left: -4px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 4px 5px;
    background-color: #d9be90;
    display: inline-block;
    border: 0
}

.footer__nav ul li a,
.footer__subscribe a {
    font-size: 12px;
    color: #fff;
    font-weight: 400
}

.footer__subscribe .span2>a img {
    margin-bottom: 10px
}

.footer__subscribe a {
    font-family: FuturaLight;
    text-decoration: underline
}

.footer__logo img {
    width: 260px;
    height: auto;
    float: right
}

.footer__nav ul {
    list-style: none;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px
}

.footer__nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative
}

.footer__nav ul li a {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    transition: all .2s ease-out;
    border-bottom: 2px solid transparent
}

.footer__nav ul li a:hover {
    text-decoration: none;
    border-color: #fff
}

.footer__nav ul li.active a {
    border-color: #fff
}

.description {
    text-align: center;
    padding-bottom: 25px
}

.description .text {
    padding: 40px 0 130px;
    position: relative;
    z-index: 1;
    margin-bottom: -80px
}

.description .text:before {
    content: '';
    width: 1000px;
    height: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    border: 2px solid #062c48;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3)
}

.description .gallery .swiper-slide-next,
.description a.btn {
    background-color: #26416f
}

.description .text.right:before {
    left: 0;
    border-right: 0;
    border-bottom: 0
}

.description .text.left:before {
    right: 0;
    border-top: 0;
    border-left: 0
}

.description .text img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px
}

.description .text h2 {
    font-family: FuturaT_Bold;
    font-size: 28px;
    color: #989898;
    font-weight: 400;
    margin-bottom: 10px
}

.description .text p {
    text-align: left;
    font-family: FuturaLight;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    padding: 0 80px
}

.description .gallery {
    padding: 40px 0
}

.description .gallery .swiper-container {
    width: 1050px
}

.description .gallery .inner {
    padding-left: 30px
}

.description .gallery .inner .swiper-button-next,
.description .gallery .inner .swiper-button-prev {
    width: 51px;
    height: 51px;
    background-image: url(../img/slider-arrow-circle.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -25px
}

.description .gallery .inner .swiper-button-next {
    right: 5px
}

.description .gallery .inner .swiper-button-prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 0
}

.description .gallery .inner.second .swiper-container {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: -520px
}

.description .gallery .inner.second .swiper-button-next {
    right: -5px
}

.description .gallery .inner.second .swiper-button-prev {
    left: 10px
}

.description .gallery .swiper-slide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.description .gallery .swiper-slide img {
    width: auto;
    height: 100%
}

.description .gallery .swiper-slide-active {
    position: relative
}

.description .gallery .swiper-slide-active:before {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 20px;
    right: 20px;
    border: 2px solid #fff;
    display: block
}

.article .image.left,
.restaurant .list .item .photos {
    position: relative
}

.description .gallery .swiper-slide-next img {
    opacity: .5
}

.description a.btn {
    padding: 9px 0;
    text-align: center;
    font-family: FuturaT_Bold;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    display: block;
    width: 280px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    position: relative;
    z-index: 2
}

.description a.btn:hover {
    text-decoration: none;
    background-color: #335795
}

.description a.btn:focus {
    text-decoration: none;
    background-color: #192b49
}

body.inner_page .welcome {
    height: auto;
    background-image: none
}

body.inner_page .welcome:after {
    display: none
}

body.inner_page .welcome>img {
    width: 100%;
    height: auto
}

body.inner_page .header {
    margin: 0 0 20px;
    padding-top: 15px
}

body.inner_page .header__logo {
    float: none;
    width: 100%;
    margin-bottom: 0
}

body.inner_page .header__logo img {
    display: block;
    margin: 0 auto
}

body.inner_page .header__buttons a {
    display: inline-block;
    vertical-align: middle;
    font-family: Futura_ICG;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px;
    line-height: 24px
}

.cta .control-wrapper .calendar-label,
.cta h3,
body.inner_page .header__buttons a.btn {
    font-family: Montserrat, sans-serif
}

body.inner_page .header__buttons a:before {
    width: 1px;
    height: 22px;
    background: #fff;
    float: left;
    margin-left: 5px;
    margin-right: 15px
}

body.inner_page .header__buttons a.btn {
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    color: #003169
}

body.inner_page .header__buttons a.btn:before {
    display: none
}

body.inner_page .header__contacts a.tel {
    display: inline-block;
    vertical-align: middle;
    font-family: Futura_ICG;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 24px
}

body.inner_page .header__contacts a.tel:before {
    width: 16px;
    height: 26px;
    background-image: url(../img/icon-phone.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    margin-top: -3px
}

body.inner_page .header__contacts .social {
    display: inline-block;
    vertical-align: middle
}

body.inner_page .header__contacts .social:before {
    width: 1px;
    height: 22px;
    background: #fff;
    float: left;
    margin-left: 15px;
    margin-right: 15px
}

body.inner_page .header__contacts .social a {
    margin-right: 10px
}

body.inner_page .header__contacts .social a:last-child {
    margin-right: 0
}

body.inner_page .header__nav {
    float: none;
    margin: 0 auto;
    text-align: center
}

body.inner_page .header__nav>ul {
    display: inline-block
}

body.inner_page .header__nav ul li {
    margin-left: 25px
}

body.inner_page .header__nav ul li ul {
    text-align: left
}

body.inner_page .header__nav ul li ul li {
    margin-left: 0
}

body.inner_page .footer {
    background-color: transparent
}

body.inner_page .footer a,
body.inner_page .footer p {
    color: #fff
}

body.inner_page .footer .container {
    padding-top: 20px;
    border-top: 2px solid #a8b2ba
}

body.without_line .first-half:after {
    display: none
}

.banners .list .item h3,
.banners .title h2 {
    display: block;
    color: #fff;
    text-align: center
}

.banners {
    padding-top: 40px
}

.banners .title {
    margin-bottom: 20px
}

.banners .title h2 {
    font-family: FuturaT_Bold;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px
}

.banners .title p {
    font-family: FuturaLight;
    font-size: 26px;
    color: #fff;
    font-weight: 400
}

.banners .list .item h3 {
    font-family: Pacifico, sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 10px
}

.banners .list .item .link a,
.restaurant .title h2 {
    font-family: FuturaT_Bold;
    font-weight: 400
}

.banners .list .item .image img {
    width: 100%;
    height: auto
}

.banners .list .item .link a {
    font-size: 36px;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 190px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.banners .list .item .link a:focus,
.banners .list .item .link a:hover {
    background-color: #fff;
    color: #26416f
}

.restaurant {
    padding-top: 40px
}

.restaurant .title {
    margin-bottom: 20px
}

.restaurant .title h2 {
    font-size: 48px;
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 10px
}

.restaurant .list .item {
    margin-bottom: 40px
}

.restaurant .list .item .desc h3 {
    font-family: Pacifico, sans-serif;
    font-size: 36px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    margin-left: 15px
}

.restaurant .list .item .desc p {
    font-family: FuturaLight;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 15px
}

.restaurant .list .item .photos .swiper-container {
    width: 1460px
}

.restaurant .list .item .photos .swiper-button-next,
.restaurant .list .item .photos .swiper-button-prev {
    width: 25px;
    height: 76px;
    background-image: url(../img/slider-arrow-rest.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -38px
}

.restaurant .list .item .photos .swiper-button-prev {
    left: -35px
}

.restaurant .list .item .photos .swiper-button-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 140px
}

.restaurant__gallery {
    padding: 0 80px;
    margin-bottom: 60px
}

.restaurant__gallery a {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin: 7px 5px
}

.restaurant__gallery a img {
    width: 100%;
    height: auto;
    display: block
}

.restaurant__gallery:before {
    width: 100%;
    height: 5px;
    display: block;
    margin: 20px auto;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) 100%)
}

.cta {
    padding: 20px 0;
    background-color: #26416f
}

.cta form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cta h3 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 10px
}

.cta h3 span.check {
    width: 28px;
    height: 26px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 2px
}

.cta h3 a.tip {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    float: right;
    margin-left: 5px;
    margin-top: 3px
}

.cta .control-wrapper .calendar-label {
    float: left;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 6px
}

.cta .control-wrapper .calendar-input {
    float: left
}

.cta .control-wrapper .calendar-input input {
    border: 1px solid #fff;
    padding: 5px 10px;
    background-color: transparent
}

.cta .control-wrapper .calendar-input input::-webkit-input-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input::-moz-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input:-moz-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input:-ms-input-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input.hasDatepicker {
    width: 125px;
    background-image: url(../img/calendar-icon.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400
}

.cta .control-wrapper .calendar-input input#promo_code {
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    width: 195px;
    border-left: 0;
    margin-left: -4px
}

.cta .control-wrapper input[type=submit] {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #26416f;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.cta .control-wrapper input[type=submit]:hover {
    background-color: #26416f;
    color: #fff
}

.article {
    padding: 50px 0
}

.article h2 {
    font-family: FuturaT_Bold;
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    display: block;
    text-align: center
}

.article.with-line .text:after {
    width: 315px;
    height: 5px;
    display: block;
    margin: 20px auto;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) 100%)
}

.article .text h3,
.article .text h4,
.article .text p {
    font-weight: 400;
    margin-bottom: 15px
}

.article .text h3 {
    font-family: Pacifico, sans-serif;
    font-size: 34px;
    color: #e1e3f9
}

.article .text h4 {
    font-family: FuturaLight;
    font-size: 24px;
    color: #fff
}

.article .text h4 strong {
    font-family: FuturaT_Bold;
    font-size: 27px;
    color: #fff;
    font-weight: 400
}

.article .text p {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 28px
}

.article .text.text-center {
    text-align: center
}

.article .text.text-center:after {
    display: none
}

.article a.btn {
    font-family: FuturaT_Bold;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 25px;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.promo .text h3,
.promo .text p {
    font-family: FuturaLight;
    font-weight: 400
}

.article a.btn:hover {
    text-decoration: none;
    opacity: .7
}

.article .image.left img {
    position: absolute;
    right: 15px;
    top: 0
}

.article>.text-center {
    margin-top: 70px;
    text-align: center
}

.spacing-80 {
    height: 80px
}

.promo .container {
    position: relative
}

.promo .container:after,
.promo .container:before {
    height: 3px;
    position: absolute;
    bottom: 50px;
    display: block;
    content: ''
}

.promo .container:after {
    width: 150px;
    background: #fff;
    left: 157px;
    z-index: 1
}

.promo .container:before {
    width: 848px;
    background: #26416f;
    z-index: 2;
    left: 307px
}

.promo .text h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: -20px;
    margin-top: 30px
}

.promo .text p {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 28px
}

.promo .images .swiper-slide .meta a,
.promo .images .swiper-slide .meta span,
.promo .text p strong {
    font-family: Montserrat, sans-serif;
    color: #fff
}

.promo .text p strong {
    font-weight: 600;
    font-size: 16px
}

.promo .images .swiper-container {
    width: 1368px
}

.promo .images .swiper-slide {
    position: relative
}

.promo .images .swiper-slide .meta {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.promo .images .swiper-slide .meta span {
    font-weight: 400;
    font-size: 40px;
    padding: 5px 10px;
    border: 5px solid #fff;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 110px
}

.promo .images .swiper-slide .meta a {
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 30px;
    background: #5b1010;
    display: inline-block;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 40px
}

.promo .images .swiper-slide:hover .meta {
    opacity: 1
}

.promo .swiper-button-next,
.promo .swiper-button-prev {
    width: 26px;
    height: 51px;
    opacity: 1;
    background-image: url(../img/handler.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 0;
    left: 115px;
    top: auto;
    bottom: 26px
}

.promo .swiper-button-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: auto;
    left: 141px
}

.promo .swiper-scrollbar {
    z-index: 9;
    height: 3px;
    background-color: #26406c;
    bottom: 50px;
    left: 100px;
    margin-right: 100px
}

.promo .swiper-scrollbar-drag {
    width: 51px;
    height: 51px;
    background-image: url(../img/handler.png);
    background-repeat: no-repeat;
    background-color: transparent;
    top: -24px;
    cursor: pointer
}

.promo.custom {
    margin-bottom: 50px
}

.promo.left .images,
.promo.left .images .swiper-slide {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.promo.left .swiper-scrollbar {
    left: 0;
    right: 100px;
    margin-right: 100px;
    margin-left: 0
}

.promo.left .container:before {
    display: none
}

.scheme {
    margin-top: 25px;
    padding-top: 35px;
    border-top: 2px solid #fff
}

.scheme .text h3 {
    font-family: Futura_ICG;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px
}

.facilities .title h2,
.scheme .text p {
    font-family: Montserrat, sans-serif
}

.scheme .text p {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-left: 30px
}

.scheme .image img {
    max-width: 100%;
    height: auto
}

.facilities-page .first-half:after {
    display: none
}

.facilities-page .footer {
    margin-top: 0!important
}

.facilities-page .promo .swiper-scrollbar {
    background-color: #5b1010
}

.facilities {
    padding-bottom: 65px
}

.facilities .title {
    margin-top: 30px
}

.facilities .title:after {
    content: '';
    width: 315px;
    height: 5px;
    display: block;
    margin: 20px auto;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) 100%)
}

.facilities .title h2,
.rooms h2 {
    color: #fff;
    display: block;
    margin-bottom: 20px
}

.facilities .title h2 {
    font-weight: 600;
    font-size: 48px
}

.facilities .title p {
    font-family: FuturaLight;
    font-size: 16px;
    color: #fff;
    font-weight: 400
}

.rooms {
    margin-top: 60px
}

.rooms h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 48px
}

.rooms .text h3,
.rooms .text p {
    margin-bottom: 30px;
    font-weight: 400;
    color: #fff
}

.rooms .text h3 {
    font-family: Futura-T-OT-Book;
    font-size: 40px;
    text-transform: uppercase
}

.rooms .text p {
    font-family: FuturaLight;
    font-size: 16px
}

.rooms .benefits {
    text-align: center
}

.rooms .benefits .item {
    padding: 15px 30px;
    text-align: left;
    width: 320px;
    border: 1px solid #fff;
    margin: 0 30px 30px;
    display: inline-block
}

.rooms__list,
.rooms__list .item {
    margin-bottom: 40px
}

.rooms .benefits .item p {
    font-family: Futura-T-OT-Book;
    font-size: 20px;
    color: #fff;
    font-weight: 400
}

.rooms__list .item {
    display: inline-block;
    vertical-align: top;
    margin-right: 57px;
    width: 47.3%;
    position: relative
}

.rooms__list .item:nth-child(2n) {
    margin-right: 0
}

.rooms__list .item img {
    width: 100%;
    height: auto
}

.rooms__list .item .meta {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1
}

.rooms__list .item .meta .desc {
    background-color: rgba(91, 16, 16, .55);
    padding: 40px 20px 40px 60px;
    margin: 180px 0 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    opacity: 0
}

.rooms__list .item .meta .desc p {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff
}

.rooms__list .item .meta:after {
    content: '';
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    border: 1px solid #fff;
    z-index: 2
}

.rooms__list .item .meta span {
    font-family: FuturaT_Bold;
    font-size: 46px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-left: 45px;
    margin-top: 70px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    opacity: 0
}

.rooms__list .item .meta a {
    display: inline-block;
    font-family: Futura-T-OT-Book;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    background: #5b1010;
    padding: 6px 25px;
    margin-left: 45px;
    position: relative;
    z-index: 3;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    opacity: 0
}

.casino .promo.casino-page h2,
.casino .promo.casino-page p,
.casino .title h2,
.casino .title p,
.casino__elements .heading h3,
.casino__elements .heading p,
.casino__elements .more a {
    font-family: FuturaT_Bold;
    color: #fff;
    font-weight: 400
}

.rooms__list .item:hover .desc,
.rooms__list .item:hover a,
.rooms__list .item:hover span {
    opacity: 1
}

.casino .title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px
}

.casino .title h2 {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 20px
}

.casino .title p {
    font-size: 26px;
    line-height: 30px
}

.casino__elements .heading {
    text-align: center;
    position: relative;
    margin-bottom: 10px
}

.casino__elements .heading h3 {
    font-size: 38px;
    text-transform: uppercase;
    display: block;
    line-height: 38px
}

.casino__elements .heading p {
    font-size: 21px
}

.casino__elements .heading:after {
    content: '';
    width: 100%;
    height: 20px;
    display: block;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-position: center top
}

.casino__elements .banner {
    margin-bottom: 30px
}

.casino__elements .banner img {
    width: 100%;
    height: auto
}

.casino__elements .more {
    text-align: center;
    margin-bottom: 30px;
    display: block
}

.casino__elements .more a {
    margin-top: -20px;
    font-size: 32px;
    text-transform: uppercase;
    display: inline-block
}

.casino .promo.casino-page:before,
.casino__elements .more a:after {
    content: '';
    display: block;
    background-repeat: no-repeat
}

.casino__elements .more a:after {
    width: 32px;
    height: 26px;
    background-image: url(../img/arrow.png);
    margin: 0 auto
}

.casino__elements.custom .heading h3 {
    font-size: 50px
}

.casino__elements.custom .banner {
    padding: 0 6px!important;
    margin-bottom: 10px
}

.casino__elements.custom .more {
    margin-top: 20px
}

.casino .promo.casino-page {
    margin-bottom: 70px
}

.casino .promo.casino-page:before {
    width: 100%;
    height: 20px;
    margin: 20px auto;
    background-image: url(../img/line.png);
    background-position: center top
}

.casino .promo.casino-page h2 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 100px
}

.casino .promo.casino-page p {
    font-size: 21px;
    margin-top: 0
}

@media (max-width:1200px) {
    .welcome .swiper-button-next {
        right: 20px
    }
    .welcome .swiper-button-prev {
        left: 20px
    }
    .description .gallery .swiper-container {
        width: auto;
        -webkit-transform: none!important;
        transform: none!important
    }
    .description .gallery .inner {
        margin-left: 0!important;
        padding-left: 0
    }
    .description .gallery .inner .swiper-container {
        margin-left: 0!important
    }
    .description .gallery .inner .swiper-button-next {
        right: 5px!important
    }
    .description .gallery .inner .swiper-button-prev {
        left: 5px!important
    }
    .cta form {
        display: block;
        text-align: center
    }
    .cta form h3 {
        display: inline-block;
        margin-bottom: 10px
    }
    body.inner_page .header {
        margin-top: 0
    }
    .promo .container:after {
        width: 100px
    }
    .promo .container:before {
        width: 600px;
        left: 257px
    }
    .restaurant .list .item .photos .swiper-button-prev {
        left: 15px
    }
    .rooms__list .item {
        width: 46.3%
    }
    .rooms__list .item .meta span {
        margin-top: 15px
    }
    .rooms__list .item .meta .desc {
        margin-top: 150px
    }
    .rooms__list .item .meta .desc p {
        font-size: 18px
    }
}

@media (max-width:992px) {
    .article .row,
    .description .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .header__logo img {
        width: 200px;
        height: auto
    }
    .header__nav ul li {
        margin-left: 25px
    }
    .description .gallery .swiper-slide-active:before {
        display: none
    }
    .description .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .description .row .text {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        padding-bottom: 20px;
        margin-bottom: 0
    }
    .description .row .gallery {
        padding-top: 20px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .header__nav ul li a {
        font-size: 12px
    }
    .control-wrapper {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px
    }
    .article .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .article .text {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        margin-bottom: 20px
    }
    .article .text .spacing-80 {
        display: none
    }
    .article .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .article .image img {
        width: 100%;
        height: auto;
        position: static!important
    }
    .footer__subscribe form input[type=submit] {
        margin-top: 10px;
        margin-left: 0
    }
    .promo .container:after {
        width: 110px
    }
    .promo .container:before {
        width: 400px;
        left: 265px
    }
    .banners .list .item .link a {
        margin-top: 100px
    }
    .restaurant .list .item .photos .swiper-container {
        width: 100%
    }
    .restaurant .list .item .photos .swiper-container .swiper-slide img {
        width: 100%;
        height: auto
    }
    .restaurant .list .item .photos .swiper-button-next {
        right: 15px
    }
    .restaurant__gallery {
        padding: 0
    }
    .scheme .image img {
        display: block;
        margin: 30px auto 0
    }
    .rooms__list .item {
        width: 45%
    }
}

@media (min-width:768px) {
    .hamb {
        display: none
    }
}

@media (max-width:767px) {
    .article .text,
    .description .text p,
    .footer__text,
    .header__nav ul {
        text-align: center
    }
    .header__logo {
        float: none;
        width: 100%
    }
    .header__logo img {
        display: block;
        margin: 0 auto
    }
    .header__buttons,
    .header__contacts {
        display: none
    }
    .description .gallery .swiper-slide img {
        width: 100%;
        height: auto
    }
    .description .text p {
        padding: 0
    }
    .row {
        margin-left: 0;
        margin-right: 0
    }
    .header {
        margin-bottom: 30px
    }
    .header__nav ul {
        margin-top: 30px
    }
    .header__nav ul li {
        margin: 0 10px 10px;
        float: none;
        display: inline-block
    }
    .welcome__text .swiper-slide h2 {
        font-size: 26px
    }
    .welcome__text .swiper-slide h2:after {
        margin: 15px auto
    }
    .welcome .swiper-button-next,
    .welcome .swiper-button-prev,
    .welcome__text .swiper-slide p br {
        display: none
    }
    .welcome__text .swiper-slide a.btn {
        font-size: 16px;
        width: 120px;
        margin: 0 10px
    }
    .welcome {
        height: auto;
        padding-bottom: 40px
    }
    body.inner_page .header__logo img {
        width: 160px;
        height: auto;
        margin-top: 15px
    }
    .cta .control-wrapper .calendar-label {
        float: none;
        display: block;
        text-align: center;
        width: 100%
    }
    .cta .control-wrapper .calendar-input input#promo_code {
        width: 160px
    }
    .article h2 {
        font-size: 34px
    }
    .article .text h3 {
        font-size: 28px
    }
    .article.with-line .text:after {
        width: 220px
    }
    .promo .images .swiper-container {
        width: 100%
    }
    .promo .images .swiper-container .swiper-slide img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto
    }
    .footer__nav,
    .header__nav {
        display: none
    }
    .promo .swiper-scrollbar {
        left: 0;
        margin-right: 0;
        margin-top: 30px;
        bottom: auto
    }
    .promo .text {
        margin-bottom: 30px
    }
    .footer__logo,
    .footer__subscribe,
    .footer__text {
        margin-bottom: 20px
    }
    .footer__text {
        padding-left: 15px
    }
    .footer__logo img {
        margin-right: 0
    }
    body.inner_page .header__nav ul li {
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
    .header__nav ul li.has-subnav>a {
        margin-left: 25px
    }
    .header__nav ul li ul {
        z-index: 9;
        position: static;
        margin-top: 10px;
        margin-bottom: -15px;
        background-color: transparent;
        text-align: center!important
    }
    .header__nav ul li ul a {
        border: 0!important;
        padding: 0!important
    }
    .header__nav ul li.has-subnav {
        padding-bottom: 0
    }
    .header {
        position: relative
    }
    .hamb {
        width: 30px;
        display: block;
        position: absolute;
        right: 15px;
        top: 15px
    }
    .hamb img,
    .restaurant__gallery a,
    .rooms .benefits .item,
    .rooms__list .item {
        width: 100%
    }
    .description .text:before,
    .promo .container:after,
    .promo .container:before {
        display: none
    }
    .hamb img {
        height: auto
    }
    .promo .swiper-button-next {
        right: 50%;
        left: auto;
        margin-right: -26px;
        bottom: -25px
    }
    .promo .swiper-button-prev {
        left: 50%;
        margin-left: -26px;
        bottom: -25px
    }
    .banners .title h2 {
        font-size: 30px
    }
    .banners .title p {
        font-size: 20px
    }
    .banners .list .item .link {
        text-align: center
    }
    .banners .list .item .link a {
        margin-top: 20px;
        font-size: 26px
    }
    .casino .title h2 {
        font-size: 30px
    }
    .casino .title p {
        font-size: 20px
    }
    .casino__elements .heading h3,
    .casino__elements.custom .heading h3 {
        font-size: 28px
    }
    .casino__elements .heading:after {
        background-size: contain
    }
    .casino .promo.casino-page:before {
        background-size: contain;
        margin: 30px 0 0
    }
    .casino .promo.casino-page h2 {
        margin-top: 0
    }
    .facilities .title h2,
    .restaurant .title h2,
    .rooms h2,
    .rooms__list .item .meta span {
        font-size: 30px
    }
    .casino__elements .banner {
        margin-bottom: 10px
    }
    .casino__elements .more {
        margin-top: 20px
    }
    .promo.custom .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .promo.custom .row .text {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }
    .promo.custom .row .images {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .promo.left .swiper-scrollbar {
        right: 0;
        margin-right: 0
    }
    .scheme .text p {
        margin-left: 0
    }
    .rooms .benefits .item {
        margin: 0 0 30px
    }
    .rooms__list .item .meta .desc {
        margin-top: 30px;
        padding: 15px 30px
    }
    .rooms__list .item .meta a {
        font-size: 16px;
        padding: 6px 15px
    }
    .rooms__list .item .meta a,
    .rooms__list .item .meta span {
        margin-left: 30px
    }
}